.list-group-item {
  line-height: 2.5;
}

#container {

  margin: 0 auto;
  text-align: center;
}

.list-group-item {

  width: 150px;
  display: inline-block;
}

#stock-list {

  display: inline-block;
}