<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Stock</h5>
          <p>
            <strong>ID</strong>: {{stock.id}}</p>
          <p>
          <p>
            <strong>Symbol</strong>: {{stock.symbol}}</p>
          <p>
            <strong>Company:</strong> {{stock.companyName}}</p>
            <a href="/">← Back To Home</a>
        </div>
      </div>
    </div>
  </div>
</div>
